
.homePageHeading{
    color: #0b055f;
  text-align: center;
  font-size: 3rem;
  margin-top: 2%;
}


.Predictprice{
    color: #0b055f;
    text-align: center;
    font-size: 3rem;
    margin-top: 2%;
}



.imgContainer{
    margin: 60px;
}

#homePageImage{
    width: 400px;
    height: 300px;
    float: right;
}